/* Spin logo very slowly */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pulse */
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.spin {
  animation: spin 20s linear infinite;
}

.spin.reverse {
  animation-direction: reverse;
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}

.pink {
  background-color: #df36ff !important;
}

.orange {
  /* background-color: #ff6600 !important; */
}
